<ion-header>
  <ion-toolbar>
    <ion-title>
      Atendente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Última Senha Chamada: <br>{{ ultimaSenhaChamada }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-button (click)="chamarProximaSenha()">Chamar Próxima Senha</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Senhas Restantes:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let senha of senhas">
          {{ senha }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
