<ion-header>
  <ion-toolbar>
    <ion-title>
      Atendente *Chamar Senha*
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-list-header>Senha atual:</ion-list-header>
  <ion-item>
    {{ senha }}
  </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="chamarSenha()">Chamar senha</ion-button>

  <ion-list>
    <ion-list-header>
      Últimas 5 senhas chamadas
    </ion-list-header>
    <ion-item *ngFor="let senha of senhas">
      {{ senha }}
    </ion-item>
  </ion-list>
</ion-content>