<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="menu-list2">
        <ion-item class="item-avatar" id="menu-list-item13">
          <h2>Usuario</h2>
          <p>Email</p>
        </ion-item>
        <ion-item class="item-icon-left" id="menu-list-item14">
          <i class="icon ion-android-person"></i>Meu perfil</ion-item>
      </ion-list>
      <div class="spacer" style="width: 268px; height: 312px;"></div>
      <ion-list id="menu-list3">
        <ion-item class="positive" id="menu-list-item15">Logout</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>