<ion-view title="" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <h3 id="page1-heading2" style="color:#000000;text-align:center;">Login</h3>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <form id="page1-form1" class="list">
      <label class="item item-input <ion-input label=&quot;Outline input&quot; label-placement=&quot;floating&quot; fill=&quot;outline&quot; placeholder=&quot;Enter text&quot;></ion-input>" id="page1-input1">
        <input type="email" placeholder="Email/CPF">
      </label>
    </form>
    <form id="page1-form3" class="list">
      <label class="item item-input <ion-input label=&quot;Outline input&quot; label-placement=&quot;floating&quot; fill=&quot;outline&quot; placeholder=&quot;Enter text&quot;></ion-input>" id="page1-input3">
        <input type="password" placeholder="Senha">
      </label>
    </form>
    <div id="page1-button-bar1" class="button-bar">
      <a ui-sref="page3()" id="page1-button5" style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-positive button-block">Entrar</a>
      <a ui-sref="page2()" id="page1-button6" style="color:#8D8D8D;border-radius:20px 20px 20px 20px;" class="button button-light button-block button-outline">Cadastrar</a>
    </div>
    <a ui-sref="page5"> Esqueci minha senha </a>
  </ion-content>
</ion-view>