<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-message">
    <h2>Bem-vindos à clínica</h2>
  </div>

  <div class="choose-password">
    <p>Escolha sua senha</p>
    <ion-button (click)="chamarSenhaGeral()">Senha Geral</ion-button>
    <ion-button (click)="gerarSenhaPreferencial()">Senha Preferencial</ion-button>
    <ion-button (click)="chamarSenhaExames()">Entrega de Exames</ion-button>
  </div>
</ion-content>
