<ion-header>

</ion-header>

<ion-content padding="true" class="has-header" class="ion-text-left" >

  <div class="spacer" style="width: 100px; height: 40px;"></div>

  <ion-item>
     <h2 id="page3-heading3" style="color:#000000;font-weight:600;" ><br>Ola,
    <br>Usuario</h2>
  </ion-item>
  <div class="spacer" style="width: 100px; height: 20px;"></div>

   <h5 id="page3-heading3" class="ion-text-center" >Escolha sua senha:</h5>


  <div class="spacer" style="width: 100px; height: 10px;"></div>

  <ion-card-content class="ion-text-center">
    <ion-button style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-energized button-block"  expand="block" color="primary" (click)="gerarSenha('SG')">Atendimento</ion-button>
    <ion-button style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-energized button-block"  expand="block" color="warning" (click)="gerarSenha('SP')">Prioritário</ion-button>
    <ion-button style="font-weight:600;border-radius:20px 20px 20px 20px;" class="button button-energized button-block"  expand="block" color="success" (click)="gerarSenha('SE')">Exames</ion-button>
   </ion-card-content>


</ion-content>
