<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Cliente *Gerar Senha*</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-button expand="block" (click)="criarSenha('SG')">Geral</ion-button>
      <br>
      <ion-button expand="block" (click)="criarSenha('SP')">Prioritária</ion-button>
      <br>
      <ion-button expand="block" (click)="criarSenha('SE')">Exame</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
